<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <JsonLayout compact="true" eventEol="true" stacktraceAsString="true"/> <!--使用json格式输出-->
            <PatternLayout pattern="%d %-5p (%F:%L) - %m%n" />
        </Console>
    </appenders>
    <loggers>
        <logger name="org.springframework" level="error" />
        <logger name="org.hibernate" level="error" />
        <logger name="org.mybatis" level="info" />
        <logger name="kafka" level="error" />
        <logger name="com.crawler" level="info" includeLocation="true" additivity="false">
            <appender-ref ref="Console"/>
        </logger>

        <logger name="com.crawler.mapper" level="debug">
            <appender-ref ref="Console"/>
        </logger>

        <root level="info">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>